/*Global Styles */
h2 {
	color: #00AF51;
	text-transform: uppercase;
}

.green, .green h2 {
	background-color: #00AF51;
	color: #fff;
}

.ltgry {
	background-color: #ecf0f1;
}

.navbar {
	background-color:rgba(0, 0, 0, 0.5);
}

.navbar a {
	color: #fff;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #00AF51;
}

.grn-gradient {
    background: #00AF51; /* fallback for old browsers */
    background: -webkit-linear-gradient(#00AF51, #FFF);/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#00AF51, #FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section {
	padding: 50px 0;
	margin: 0;
	min-height: 400px;
}

/*Hero */

.jumbotron {
	background: url('../img/MACS-Supply-industry.png') no-repeat;
	background-size: cover; 
	max-height: 650px;
	color: #FFF;
	margin-bottom: 0;
	padding: 100px;
}

.jumbotron .container {
	background-color:rgba(0, 0, 0, 0.5);
	padding: 20px 100px;
}


.jumbotron img {
	padding: 50px;
}

.why-ico { 
	width: 90%;
	margin: auto;
}

.down {
    bottom: -50px;
    position: relative;
    color: #dedede;
}

/* Partners */

#partners .row, #contact .row {
	margin-top: 50px;
}

/* Products */

#products ul {
	padding-left: 0;
}

#products ul li {
	border-bottom: 1px solid #cdcdcd;
	list-style: none;
	padding: 5px;
}

#products h5 {
	color: #00AF51;
	padding:10px 0;
	border-bottom: 2px solid #00AF51;
}

#products img {
	display: inline;
	background: #fff;
	padding: 5px;
}

.cta {
	background-color: #00AF51;
	color: #fff;
	margin: 0;
	padding: 10px 0 20px;
	position: relative;
	bottom: -50px;
}

.cta a, #contact a {
	color: #fff;
}



